//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .filter {
        .actions-primary,
        .primary {
            line-height: 1;
        }

        .filter-options-title {
            padding-right: 1rem;
            word-break: normal;

            &::after {
                right: 1rem;
                top: 1rem;
            }
        }

        .smile-es-range-slider {
            .ui-slider-handle {
                @_shadow: 0 0 5px 0 rgba(0, 0, 0, .6);
                .lib-css(box-shadow, @_shadow, 1);
                background: @c-color-03;
            }
        }
        .ui-slider-range {
            background: @c-color-03;
            height: 1rem;
            position: absolute;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .filter {
        .actions-toolbar {
            flex-direction: column;
        }
    }
}
