//
//  Custom variables
//  _____________________________________________

@color-one: #ccd;
@color-two: green;
@color-three: rgba(255,255,255,1);

//
//  Custom styles
//  _____________________________________________

@import "custom/_file.less";


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .limiter-options {
            min-width: 6rem;
        }

        .page-header {
            ul {
                color: @color-one;
            }

            .panel.wrapper {
                background-color: @color-two;
                color: @color-three;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .products {
        &.list {
            &.items {
                .product-item {
                    width: 100%;

                    .product-item-info {
                        margin: auto;
                    }
                }
            }
        }
    }
}
